---
const name = "PJ Holmes";
const location = "Colorado";
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Me">
  <h1>About Me</h1>
  <p>Hi, I’m {name}, and I live in {location}. Welcome to my Astro site!</p>
</Layout>
