---
const name = "PJ Holmes";
const location = "Colorado";
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>About Me</h1>
  <p>Hi, I’m {name}, and I live in {location}. Welcome to my Astro site!</p>

  <style>
    h1 {
      color: #4b0082;
    }

    p {
      font-size: 1.2rem;
      color: #333;
    }
  </style>
</Layout>
