---
// src/components/Header.astro
---
<header>
    <h1>Patrik Holmes' Astro Site</h1>
  </header>
  
  <style>
    header {
      background: #222;
      color: #fff;
      padding: 2rem 1rem;
      text-align: center;
    }
    header h1 {
      margin: 0;
      font-size: 2rem;
    }
  </style>
  