---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

const { title, pubDate, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
  </head>
  <body>
    <Navigation />
    <article>
      <h1>{title}</h1>
      <p><em>{pubDate && new Date(pubDate).toLocaleDateString()}</em></p>
      <slot />
    </article>
    <Footer />
  </body>